@import "./panel/panel";
@import "./table/table";
@import "./pagination/pagination";
@import "./popapp/popapp";
@import "./popapp/block__connected";

.main {
  margin-top: 20px;
  background: $color-white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

